
.frm{
    width: 500px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);
    /* background-color: whitesmoke; */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;

}

.frm .header{
    padding: 1rem 0;
    font-size: 20px;
    
}
.signin-form-button{
    width: 100%;
}